<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= text %>
    <h1>Happy shoping!!</h1>
    <ul>
        <ol>Types of crystal</ol>
        <ul>Carnalite</ul>
        

    </ul>
</body>
</html>